
/* Your CSS Code here. */

	
.first{
		color:white;
	background-color:orangered;

	
}
.second{
	color:white;
	background-color:indianred
	
	
}
.third{
	background-color:yellowgreen
}
.fourth{
	background-color:skyblue
}